@import 'theme';

:global(html,
	body,
	main) {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-family: $font;
	background: transparent;
	//background: $background;
	color: $foreground;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

:global(html) {
	background: url('/background.png');
	background-size: cover;
	background-position: center;
}

:global(body) {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}


:global(style) {
	display: none;
}

:global(button, p) {
	all: unset;
}

:global(::-webkit-scrollbar) {
	width: 3px;
	height: 3px;
}

:global(::-webkit-scrollbar-track) {
	margin: 5px;
	background: transparent;
}

:global(::-webkit-scrollbar-thumb) {
	background: $foreground-muted;
	border-radius: 100px;

}