@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$background: rgba(0, 0, 0, 0.4);
$background-ui: #0F0F0F;
$background-dark: #1F1F1F;
$background-light: #343434;
$background-frosted: rgba(255, 255, 255, 0.025);

$foreground: #ffffffe6;
$foreground-muted: #999999;

$accent: #AD50A3;

$border-width: 1px;
$border-color: rgba(255, 255, 255, 0.25);
$border-radius: 1rem;
$border: $border-width solid $border-color;

$gap: 1rem;

$filter-frosted: blur(20px) brightness(0.7) saturate(1.2);

$font: 'Rubik', sans-serif;
$font-mono: 'PT Mono', monospace;